/* Header */
header {
  background: #ccc;
  padding: 10px;
  margin-bottom: 0px;
}

/* Cancel the header margin on home page. */
body#home header {
  margin-bottom: 0;
}

header .row {
  margin-bottom: 0;
}

.logo {
  float: left;
  
}