/* Header */
header {
  background: #ccc;
  padding: 10px;
  margin-bottom: 0px;

  @include breakpoint($tablet) {
    text-align: center;
  }

  /* Cancel the header margin on home page. */
  body#home & {
    margin-bottom: 0;
  }

  .row {
    margin-bottom: 0;
  }

  .logo {
    float: left;
  }
}
