/*the start of the home page one-half*/
.one-half-home{
  width: 50%;
  height: 40vh;


}

.one-half-home h3{
  padding-top: 5%;
  margin-left: 5%;
  }
.one-half-home p{
  margin-left: 5%;
  margin-right: 5%;
}
.one-half-home-two{
  width: 50%;
  height: 40vh;
  border-right: 0;
  
}
.one-half-home-two h3{
  padding-top: 5%;
  margin-left: 5%;
  }
.one-half-home-two p{
  margin-left: 5%;
  margin-right: 5%;
}
/*the end of the home page one-half*/