/* Clearfix */
@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}



@mixin ease($time: 333ms, $element: all, $curve: ease-in-out) {
  transition: $element $time $curve;
}



$tablet: 800px;
$phone: 400px;

@mixin breakpoint($size) {
  @media (max-width: $size) {
    @content;
  }
}
