nav {
  margin-top: 31px;
}

header nav {
  float: right;
  text-align: right;
}

nav a {
  margin-right: 20px;
  font-size: 18px;
  color: #444;
  text-decoration: none;
}

nav a:last-of-type {
  margin: 0;
}