nav {
  margin-top: 31px;

  header & {
    float: right;
    text-align: right;
  }

  a {
    margin-right: 20px;
    font-size: 18px;
    color: #444;
    text-decoration: none;

    &:last-of-type {
      margin: 0;
    }
  }
}
